* {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
}

.navbar {
  background-color: rgb(7, 164, 255);
  width: 100%;
  text-align: center;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.addtodo {
  display: flex;
  background-color: rgb(7, 164, 255);
  width: 100%;
  height: 10vh;
}

.addform {
  display: flex;
  background-color: rgb(7, 164, 255);
  width: 80%;
  height: 10vh;
}

.addtodo input {
  width: 90%;
  height: 5vh;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  color: darkslategray;
}

.addtodo button {
  background-color: transparent;
  height: 7vh;
  border: none;
  color: white;
  font-weight: 800;
  width: 120px;
  font-size: 15px;
  cursor: pointer;
}

.todo-list {
  width: 100%;
}

.title {
  background-color: rgb(7, 164, 255);
  width: 80%;
  min-height: 7vh;
  margin: 20px auto;
  padding: 5px;
  border-radius: 5px;
  color: white;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}

.title-heading {
  padding: 10px;
  position: absolute;
  left: 0px;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

.title-heading h3 {
  margin-left: 20px;
}



.title-heading span {
  font-size: 10px;
  margin-left: 20px;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.Pending {
  background-color: rgb(231, 109, 109);
}

.Complete {
  background-color: rgb(43, 151, 43);
}

.title-button {
  position: absolute;
  right: 20px;
}

.title-button button {
  float: right;
  background-color: transparent;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-size: 20px;
}